{% extends "app3/base2.html"    %}

{%  block content   %}
<div class="row">
    <div class="col-md-12">
        <ul class="list-group"  id="item-list">
            <br><br>
            <h3 class="text-center">La liste de produits que vous avez choisis</h3> <br>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br><br>
        <h3 style="margin-left: 50px;">Veuillez remplir ce formulaire pour valider votre commande </h3>
        <br>
        <form  method="post" >
            {% csrf_token  %}
            <input type="hidden" id="items" , name="items">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nom</label>
                    <input type="text" id="nom" name="nom"  class="form-control" id="inputEmail4" placeholder="Entrer votre nom">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Prénom</label>
                    <input type="text" id="prenom" name="prenom"  class="form-control" id="inputEmail4" placeholder="Entrer votre prénom">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Email</label>
                    <input type="email" id="email" name="email"  class="form-control" id="inputPassword4" placeholder="Entrer votre email">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Numéro de téléphone</label>
                    <input type="text" name="tel" id="tel"    class="form-control" id="inputAddress" placeholder="Entre votre numéro de téléphone" style="width: 550px;">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text"  name="address" id="address" class="form-control" id="inputAddress" placeholder="Entrer votre adresse">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Ville</label>
                    <select id="ville"  name="ville"  class="form-control">
                        <option selected>Alger</option>
                        <option>Constantine</option>
                        <option>Oran</option>
                        <option>Annaba</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Somme total à payer </label>
                    <input type="readonly" name="total" id="total" class=" bg-dark text-warning form-control" >
                </div>  
                <br>
               
            </div>
            <div class="mt-3">
                <label for="message_pharma"><b>Voulez-vous envoyer un message à la pharmacie ?</b></label><br>
                <textarea id="message_pharma" placeholder="écrivez votre message ici "
                    style="width: 400px; height: 200px;"></textarea>
            </div>
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-primary">Commander</button>
        </form>
    </div>
</div>
{% endblock  %}

{%  block js  %}
<script type="text/javascript">
 if(localStorage.getItem('panier_pharmacie') == null) {
    var panier = {};
} else {
    panier = JSON.parse(localStorage.getItem('panier_pharmacie'));
}
var total = 0; 
var nombre = 0; 
for(item in panier){
    let nom = panier[item][1];
    let quantité = panier[item][0] ;
    let prix = panier[item][2]; 
    nombre += quantité; 
    total += prix; 
    let itemString = `<li class="list-group-item d-flex justify-content-between align-items-center">
            ${nom}
            <div class="quantity">
                <span class="minus">-</span>
                <span class="badge badge-primary badge-pill">Qte ${quantité}</span>
                <span class="plus">+</span>
            </div>
            <span class="badge badge-warning badge-pill"> ${prix} DA</span>
        </li>`;
    $('#item-list').append(itemString);
}
let itemNombre = `<li class="list-group-item d-flex justify-content-between align-items-center">
            <b class="bg-danger"> PRIX ET QUANTITE TOTAL </b>
            <span class="badge badge-danger badge-pill">TQte: ${nombre}</span>
            <span class="badge badge-danger badge-pill"> Total: ${total} DA</span>
        </li>`;
$('#item-list').append(itemNombre);
$('#items').val(JSON.stringify(panier));
$('#total').val(total + " DA");

// Fonction pour mettre à jour les quantités et le total
function updateTotalAndQuantity() {
    total = 0;
    nombre = 0;
    $('#item-list .quantity').each(function() {
        var quantite = parseInt($(this).find('.badge-primary').text().split(' ')[1]);
        var prix = parseFloat($(this).siblings('.badge-warning').text().split(' ')[1]);
        total += quantite * prix;
        nombre += quantite;
    });
    $('.badge-danger:eq(0)').text('TQte: ' + nombre);
    $('.badge-danger:eq(1)').text('Total: ' + total + ' DA');
    $('#total').val(total + " DA");
}

// Gestion des clics sur les boutons "+" et "-"
$('.quantity .plus').click(function() {
    var $quantity = $(this).siblings('.badge-primary');
    var currentVal = parseInt($quantity.text().split(' ')[1]);
    if (!isNaN(currentVal)) {
        var newQuantity = currentVal + 1;
        $quantity.text('Qte ' + newQuantity);
        updateTotalAndQuantity();
    }
});

$('.quantity .minus').click(function() {
    var $quantity = $(this).siblings('.badge-primary');
    var currentVal = parseInt($quantity.text().split(' ')[1]);
    if (!isNaN(currentVal) && currentVal > 0) {
        var newQuantity = currentVal - 1;
        $quantity.text('Qte ' + newQuantity);
        updateTotalAndQuantity();
    }
});


</script>
{%  endblock    %}