{% extends 'app3/base.html'  %}
{% block content    %} 
<div class="row">
    <div class="col-md-6">
      <div>
        <img src="{{ product.image  }}" alt="" width="500px" height="500px">
      </div>

    </div>
    <div  class="col-md-6"    >
<div   class="text-warning display-3">
    {{ product.nom_pr  }}
</div>
<div class="text-danger">
    {{ product.prix_unitaire  }} DA
</div>
<div >
    {{ product.dosage  }}
</div>
<div>
    {{ product.Description  }}
</div>
<a href="#"> <button class="btn btn-success"> Acheter</button></a>
    </div>
</div>



{% endblock  %}